*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('/static/img/scene2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    gap:20px;
}

.fm-box
{
    background:rgba(255,255,255,0.12) ;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap:30px;
    border-radius: 20px;
    border:3px solid red;
}
.fm-ele
{
    display: flex;
    gap:20px;
    align-items: center;

}

.fm-ele label
{
    min-width: 130px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    
}


.fm-ele input
{
    padding: 10px;
    border-radius: 20px;
    border:1px solid black;
}

h1{
    text-align: center;
    padding-bottom: 10px;
    color: white;

}
.btn
{
    display: flex;
    gap:10px;
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: red;
    font-weight: bold;
    font-size: 1.1em;
    color:white;
    cursor: pointer;
}

button:hover
{
    background-color: blue;
}

.bt
{
  padding: 30px;
  margin-left:100px;
  width:20%;
}

.bt button
{
    background-color: rgb(14, 56, 224);
    color:white;
    border:3px solid white;
    letter-spacing: 1px;
    cursor: pointer;
}

.bt button:hover
{
    transform: scale(1.05);
    background-color: black;
    color: white;
    border: 2px solid yellow;

}

.imcsv {
  display: none;
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background: linear-gradient(255,255,255,0.12);
  border: 2px solid #333;
  border-radius: 10px;
  padding: 40px;
  z-index: 1000; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  
}

.imcsv button{
    margin-top: 50px;
}

a
{
    text-decoration: none;
    color:white;
}

.fm
{
    display:none;

}