*
{
    margin:0;
    border:0;
    box-sizing: border-box;
}

.book-hero
{
    height:100vh;
    background-image: url('/static/img/train1211.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fm
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    padding: 50px;
    border-radius: 5px;
    border:1px solid white;
     display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

}

.fm-group
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

}
.fm-group label{
    font-weight: bold;
    font-size: 18px;
    padding-right: 30px;
    color:white;
}

.fm-group input{
    padding:10px;
    border-radius: 5px;
    border:1px solid rgb(149, 10, 10)
}
button
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top:40px;
    padding: 20px;
    background-color:rgb(171, 41, 41);
    color:white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    color:rgba(219, 200, 37, 0.76)

}

button:hover
{
    background-color: limegreen;
    color: black;
}

.msg-box {
     
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    background-color: #222;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(195, 192, 19, 0.3);
    opacity: 1;
    animation: fadeOut 5s ease-in-out forwards;

}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0;display:none;}
}

.btn
{
    position: fixed;
    top:0px;
    right:20px;
}

.btn button
{
    background-color: white;
    color:black;
    border:2px solid red;
}

.btn button:hover{
    background-color: yellow;
}