*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.hero
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(240,240,240);
}

.tab
{
    background-color: white;
    padding: 20px;
}

h2
{
    padding: 20px;
}

.tab tr th,td
{
    background-color:  rgb(240,240,240);
    padding: 20px;
    border:2px solid red;

}