*
{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

.norway-hero
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#231d22;
    padding: 20px;

}

.norway-hero h1{
    color: rgb(188, 231, 17);
    margin-bottom: 10px;
}

.norway-hero p{
    color:rgb(232, 84, 10);
}
.train-cards
{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:40px;
    padding:60px;
    background-color: whitesmoke;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

.card{

    background: rgb(28, 27, 24);
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    overflow: hidden;
    border:5px solid rgb(136, 11, 125);
    cursor: pointer;
}

.card:active
{
     transform:scale(1.1);
    box-shadow:10px 10px 20px rgba(0,0,0,0.3);
}


.card img
{
    width:100%;
    height:200px;
    object-fit:cover;
}

.card h3
{
    margin:15px;
    color:whitesmoke;
}

.card p
{
    padding:10px 15px 10px;
    font-size: 0.95em;
    color:wheat;
    font-weight: bold;

}
.card p a
{
    text-decoration: none;
    color: white;
}

