
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

th {
    background-color: #0077b6;
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


tr:hover {
    background-color: #caf0f8;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: white;
    background-color: #0077b6;
    padding: 6px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #023e8a;
}
