* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  flex-direction: column;
  gap: 40px;
}

.tb {
  background-color: lightblue;
  padding: 20px;
}

tr th, td {
  background-color: beige;
  padding: 20px;
  border: 2px solid blue;
  text-align: center;
}

input {
  padding: 20px;
  border-radius: 20px;
  width: 350px;
  border: 2px solid blue;
  margin-top:20px;
}

input::placeholder {
  color: gray;
  font-style: italic;
}

button
{
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
    background-color: blue;
    color:white;
    border:2px solid white;
    position: fixed;
    top:20px;
    right:20px;
    cursor: pointer;
}

button:hover
{
    background-color: rgb(81, 4, 154);
    
}