*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.hero
{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/static/img/sea.jpg');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.fm-box
{
    background:rgba(255,255,255,0.12);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap:20px;
    border-radius: 30px;
    cursor: pointer;
    border:2px solid blue;
}

.fm-ele
{
    display: flex;
    align-items: center;
    gap:20px;
}

.fm-ele label{
    min-width: 130px;
    font-weight: bold;
    font-size: 1.1em;
    color: whitesmoke;
}

.fm-ele input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}

h1
{
    text-align: center;
    padding-bottom: 10px;
    color:rgb(1, 1, 78);

}

.btn
{

    display: flex;
    justify-content: space-evenly;
    gap:20px;
    padding-top: 15px;
}

.btn button
{
    padding: 20px;
    border-radius: 20px;
    min-width: 150px;
    font-weight: bold;
    font-size: 1.04em;
    cursor: pointer;
    background-color: lightblue;
    border:3px solid blue;
   
}

.btn button:hover
{
     background-color:blue;
     transform:scale(1.05);
     color:white;
     border:2px solid lightblue;
}