<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width initial-scale=1.0'>
        <title>India Page</title>
        <link rel='stylesheet' href='/static/istyle.css'>
    </head>
    <body>
        <div class='india-hero'>
            <h1>Welcome to India</h1>
            <p>Explore World's Most Beautiful Train Journeys</p>
            
        </div>
        <section class='train-cards'>
            <div class='card'>
                <h3>Darjeeling Himalayan Railways</h3>
                <img src='/static/img/darjeeling-himalayan.jpg'>
                <p>A UNESCO World Heritage mountain railway with scenic Himalayan views</p>
                <p><a href='https://www.youtube.com/watch?v=nBc2ouePt4Y' target="_blank">Know More</a></p>
            </div>
            <div class='card'>
                <h3>Konkan Railway</h3>
                <img src="/static/img/konkan.jpg" alt="Konkan Railway">
                <p>Runs along India’s west coast, offering lush green and ocean-side views.</p>
                <p><a href='https://www.youtube.com/channel/UCyY1G5db8Dzwjl5fD4CTTsQ' target="_blank">Know More</a></p>
            </div>
            <div class='card'>

                <h3>Kalka–Shimla Toy Train</h3>
                <img src="/static/img/kalka-shimla-toy-train.jpg" alt="Kalka Shimla Toy Train">
                <p>Charming mountain route through tunnels and pine forests.</p>
                <p><a href='https://www.youtube.com/watch?v=PGJiUq_N_lM' target="_blank">Know More</a></p>
            </div>

            <div class='card'>
                <h3>Nilgiri Mountain Railway</h3>
                <img src="/static/img/nilgiri-train.jpg" alt="Nilgiri Mountain Railway">
                <p>A UNESCO heritage toy train running through the Western Ghats between Mettupalayam and Ooty.</p>
                <p><a href=https://www.youtube.com/watch?v=5A9v9s5BP-o' target="_blank">Know More</a></p>
            </div>

            <div class='card'>
                <h3>Palace on Wheels</h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHXii3xb-WXyP4XEbJgQ28ScpPqGjKIAcu1w&s" alt="Palace on Wheels">
                <p>Luxury royal train offering a majestic journey through Rajasthan.</p>
                <p><a href='https://www.youtube.com/watch?v=Kfbv35CHG6U' target="_blank">Know More</a></p>
            </div>

            <div class='card'>
                <h3>Deccan Odyssey</h3>
                <img src="https://custom-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/1698277/246287_44836.jpeg" alt="Deccan Odyssey">
                <p>A luxury train offering royal journeys across Maharashtra and Goa, known as the 'Blue Limousine on Wheels'.</p>
                <p><a href='https://www.deccan-odyssey-india.com/video.html' target="_blank">Know More</a></p>
            </div>


            <div class='card'>
                <h3>Maharajas’ Express</h3>
                <img src="https://www.themaharajatrain.com/wp-content/uploads/2024/09/Why-did-IRCTC-launch-the-Maharajas-Express.webp" alt="Maharajas’ Express">
                <p>Voted one of the world's most luxurious trains, it offers royal tours covering India’s cultural gems like Agra and Jaipur.</p>
                <p><a href='https://www.youtube.com/watch?v=p0MNgGI17Pw' target="_blank">Know More</a></p>
            </div>

            <div class='card'>
                <h3>Golden Chariot</h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOeimPwnFJw4OBVktBUS5eAuW4eW0yTz5hNA&s" alt="Golden Chariot">
                <p>Luxury train showcasing South India’s heritage — from Mysore’s palaces to Goa’s beaches.</p>
                <p><a href='https://www.youtube.com/watch?v=l-09ZKj7LT4' target="_blank">Know More</a></p>
            </div>

            
        </section>
    </body>
</html>