<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Switzerland Page</title>
        <link rel='stylesheet' href='/static/sstyle.css'>
    </head>
    <body>
        <div class='swiss-hero'>
            <h1>Welcome to Switzerland</h1>
            <p>Explore World's Most Scenic Train Journeys</p>
        </div>
        <section class='train-cards'>

            <div class='card'>
                <h3>Glacier Express</h3>
                <img src='/static/img/swiss/glacier.jpg' alt="Glacier Express">
                <p>The “slowest express train in the world” connecting Zermatt and St. Moritz through spectacular Alpine scenery.</p>
                <p><a href='https://www.glacierexpress.ch/en/' target="_blank">Know More</a></p>
            </div>

            <div class='card'>
                <h3>Bernina Express</h3>
                <img src='/static/img/swiss/berninaexpress.jpg' alt="Bernina Express">
                <p>Runs from Chur to Tirano (Italy), offering breathtaking mountain landscapes and UNESCO heritage views.</p>
                <p><a href='https://www.rhb.ch/en/panoramic-trains/bernina-express' target="_blank">Know More</a></p>
            </div>

            <div class='card'>
                <h3>GoldenPass Line</h3>
                <img src='/static/img/swiss/goldenpass.jpg' alt="GoldenPass Line">
                <p>Connects Montreux to Lucerne with panoramic views of lakes, mountains, and charming Swiss towns.</p>
                <p><a href='https://www.goldenpass.ch/en/' target="_blank">Know More</a></p>
            </div>

            <div class='card'>
                <h3>Jungfrau Railway</h3>
                <img src='/static/img/swiss/jung.jpg' alt="Jungfrau Railway">
                <p>Travel to Europe’s highest railway station at Jungfraujoch and enjoy stunning Alpine vistas.</p>
                <p><a href='https://www.jungfrau.ch/en-gb/' target="_blank">Know More</a></p>
            </div>

            <div class='card'>
                <h3>Rhaetian Railway</h3>
                <img src='/static/img/swiss/rhaetian.jpg' alt="Rhaetian Railway">
                <p>A UNESCO World Heritage railway network in Graubünden featuring tunnels, bridges, and spectacular scenery.</p>
                <p><a href='https://www.rhb.ch/en/home' target="_blank">Know More</a></p>
            </div>

            <div class='card'>
                <h3>VorAlpen Express</h3>
                <img src='/static/img/swiss/volalpen.jpg' alt="VorAlpen Express">
                <p>Scenic route connecting Lucerne to St. Gallen with lakes, mountains, and charming Swiss villages along the way.</p>
                <p><a href='https://www.voralpen-express.ch/en/' target="_blank">Know More</a></p>
            </div>

            <div class='card'>
                <h3>BLS GoldenPass Panoramic</h3>
                <img src='/static/img/swiss/bls.webp' alt="BLS GoldenPass Panoramic">
                <p>Offers panoramic views from Montreux to Zweisimmen through vineyards, mountains, and picturesque towns.</p>
                <p><a href='https://www.bls.ch/en/fahren/angebote/bahnerlebnisse/goldenpass-panoramic' target="_blank">Know More</a></p>
            </div>

            <div class='card'>
                <h3>Brienz–Rothorn Railway</h3>
                <img src='/static/img/swiss/brienz.jpg' alt="Brienz-Rothorn Railway">
                <p>Steam-powered cogwheel railway offering dramatic views of Lake Brienz and the surrounding Alps.</p>
                <p><a href='https://www.brienz-rothorn.ch/en/' target="_blank">Know More</a></p>
            </div>

        </section>
    </body>
</html>
